RewriteEngine	On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/([\w]+)/([\w]+)$ bento.php?_controller=$1&_action=$2&%{QUERY_STRING} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?_urlrequest=$1&request=%{REQUEST_FILENAME}&%{QUERY_STRING} [L]
